<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Sight Spot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Crime Sight Spot - Delhi</h1>
        <form action="/predict" method="post">
            <label>City:</label>
            <input type="text" name="city" placeholder="Enter area (e.g., Delhi North)" required><br>
            <label>Year:</label>
            <input type="number" name="year" required><br>
            <button type="submit">Predict</button>
        </form>

        <h3>{{ prediction_text }}</h3>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
